<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Speech</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
    <body>

      <header>
        <div class="container">
          <nav class="navbar navbar-inverse">
              <div class="container-fluid" style="background-color: #F8abff">
                <ul class="nav navbar-nav">
                  <li><a style="color:black"href="http://localhost:5000/speech">Speech synthesis</a></li>
                  <li><a style="color:black" href="http://localhost:5000/recognize">Speech analysis</a></li>
                </ul>
              </div>
          </nav>
        </div>
      </header>
      <main>
        <div class="container">
            <h1>Information:</h1>
            <hr>
            <h4>
                In order to use the speech sitenza system you need to go to the tab  <a href="http://localhost:5000/speech">"Speech synthesis"</a>
                , where the following functions will be available:
            </h4>
            <p> - text input, or copying through the buffer in a special field;</p>
            <p> - playback of the generated speech signal for the entered text;</p>
            <p> - adjusting (selecting) the speaker's voice, tempo, volume.</p>
            <hr>
            <h4>
              In order to use the speech analysis system you need to go to the tab <a href="http://localhost:5000/recognize">"Speech analysis"</a>
              , where you can get information about the following fine arts subjects (you must click on the "Analyze" button beforehand, and then you can talk):
            </h4>
            <p> - command "text" - to get text about the piece of art;</p>
            <p> - command "voice" - to listen about the piece of art;</p>
            <p> - command "find" - to find webpage.
        </div>
      </main>
    </body>
</html>